:root{
      --border: 1px solid #666666;
      --white-color: #ffffff;
      --self-center: 0 auto;
}
* {
     text-decoration: none;
     border: none;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     user-select: none;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#message-container {
     position: absolute;
     right: 2rem;
     top: -2rem;
     transition: all 500ms ease-in-out;
}
header {
     height: 3rem;
     margin-bottom: 5px;
     border-bottom: var(--border);;
}
header h1 {
     font-size: 18pt;
     margin: 1rem;
     color: rgb(224, 20, 20);
  }
#hello-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: var(--self-center);
}
main {
    margin: var(--self-center);;
}
#hello-inputs {
     display: flex;
     flex-direction: column;
}
#hello-inputs #password{
    margin: 3px 0 5px 0;
}
label {
     display: none;
}
#login {
      background-color: rgb(21, 124, 241);
      color: var(--white-color);
}
#login:hover { background-color: rgb(38, 119, 210);}
#logout {
     background-color:  #f5580a;
     color: var(--white-color);;
}
.input {
     border: 1px solid #ccc;
     height: 1.5rem;
     width: 307px;
     border-radius: 3px;
     padding: 0.5rem;
     transition: all 500ms ease-in-out;
}
#hello-buttons {
     margin-bottom: 0.5rem;
}
.hello-button {
    height: 1.8rem;
    padding: 0.3rem;
    border-radius: 3px;
    font-weight: 600;
}
footer {
    border-top: var(--border);
    height: 3rem;
}
@media screen and (max-width:480px) {
     header h1 {
           font-size: 14pt;
     }
     #message {
           font-size: 12pt;
           color: #f5580a;
     }
    #hello-container {
        width: 100%;
    }
    main {
         width: 60%;
    }
    .input {
        width: 100%;
   }
}
@media screen and (min-width: 481px) and  (max-width:768px) {
     #message {
          font-size: 12pt;
    }
    .input {
        width:307px;
   }
}