* {
     text-decoration: none;
     border: none;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
header {
     margin-bottom: 5px;
     border: 1px solid #000;
}
main {
     margin: 0 auto;
}
#hello-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#hello-inputs {
     display: flex;
     flex-direction: column;
}
#hello-inputs #password{
    margin: 3px 0 5px 0;
}
label {
     display: none;
}
.input {
     border: 1px solid #ccc;
     width: 307px;
}
#hello-buttons {
    /* margin-left: 20%; */
}
footer {
    border: 1px solid #000;
    height: 30px;
}

@media screen and  (max-width:480px) {
    #hello-container {
        width: 100%;
    }
    main {
         width: 60%;
    }
    .input {
        width: 100%;
   }
}
@media screen and (min-width: 481px) and  (max-width:768px) {
    .input {
        width:307px;
   }
}
@media screen and (min-width: 769px) and  (max-width:1279px) {
    .input {
        width: 307px;
   }
}