* {
     text-decoration: none;
     border: none;
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}
#hello-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

#hello-inputs {
     display: flex;
     flex-direction: column;
}
.input {
     width: 90%;
}
label {
     display: none;
}
#hello-buttons {
     display: flex;
}

@media screen and (min-width:320px) and  (max-width:480px) {
    body {background-color: red;}
}